html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}

.Loader {
  z-index: 9999;
  position: absolute;
  background-color: #9a84be;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Loader h1 {
  font-family: 'Comic Sans MS', cursive; /* Choose a cartoon-style font */
  font-size: 50px; /* Adjust the font size as needed */
  color: black; /* Choose a suitable text color */
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5); /* Add a shadow effect */
  letter-spacing: 4px; /* Adjust the letter spacing as needed */
  line-height: 1.2; /* Adjust the line height as needed */
  text-transform: uppercase; /* Convert the text to uppercase */
}

.hidden {
  display: none;
}

.Loader h2 {
  font-family: 'Comic Sans MS', cursive; /* Choose a cartoon-style font */
  font-size: 30px; /* Adjust the font size as needed */
  color: black; /* Choose a suitable text color */
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5); /* Add a shadow effect */
  letter-spacing: 4px; /* Adjust the letter spacing as needed */
  line-height: 1.2; /* Adjust the line height as needed */
  text-transform: uppercase; /* Convert the text to uppercase */
}

.sceneLoader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #30d8de;
  /* Dark Green */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spinloader 2s linear infinite;
}

.sceneLoader img {
  height: 120px;
  width: 120px;
  animation: spinlogo 2s linear infinite;
}

.username-container {
  position: absolute;
  top: 15px;
  right: 25%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.username {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Comic Sans MS', cursive; /* Choose a cartoon-style font */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Add a shadow effect */
}

#playerOneUsername {
  color: red;
}

#playerTwoUsername {
color: blue;
}

#fps {
  position: absolute;
  background-color: #9a84be;
  border: 5px solid black;
  text-align: center;
  font-size: 20px;
  font-family: 'Comic Sans MS', cursive; /* Choose a cartoon-style font */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Add a shadow effect */
  color: white;
  top: 15px;
  right: 15px;
  width: 80px;
  height: 30px;
}
#option{
  position: absolute;
  background-color: #9a84be;
  border: 5px solid black;
  text-align: center;
  font-size: 20px;
  font-family: 'Comic Sans MS', cursive; /* Choose a cartoon-style font */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Add a shadow effect */
  color: white;
  top: 15px;
  right: 1400px;
  width: 80px;
  height: 40px;

}

@keyframes spinloader {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

@keyframes spinlogo {
  0% {
      transform: rotate(360deg);
  }

  100% {
      transform: rotate(0deg);
  }
}