body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    margin: 0;
    background-image: url("../images/settingsBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
      
}
h1{
    font-family: 'Comic Sans MS', cursive;
    color: black;
    padding-top: 10%;
   
  }

.box {
      margin-top: 2%;
      border: 3px solid white;
      padding: 2%;
      border-radius: 2%;
      width: 100%;
      max-width: 800px;
      height: 500px;
      z-index: 99;
      background-color: #9a84be;
      overflow-x: hidden;
      overflow-y: auto;
      font-family: 'Comic Sans MS', cursive;
      color: white;
          
    }

.settingImage {
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    height: 20%;
}
      

.singleOption{
    text-align: left;
    margin-left: 20px;
}

.option1{
display: flex;
justify-content: center;
}

.butt{
    margin-left: 30px;
    background-color: transparent;
    border: none;
}
.backButt{
    position: absolute;
    font-size: 40px;
    margin-right: 1300px;
    margin-bottom: 540px;
    background-color: transparent;
    border: none;
    
   }

.macroLabels{
    text-align: center;
    color: black;
}

.icon{
font-size: 24px;
}

.slider{
    margin-left: 30px;
    accent-color: black;
}

.endOptions{
    text-align: end;
}

::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }
  
::-webkit-scrollbar-track {
    background: black; 
    border-radius: 10px;       /* color of the tracking area */
  }
  
::-webkit-scrollbar-thumb {
    background-color: white;    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
}