body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  margin: 0;
  background-image: url("../images/settingsBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
    
}
h1{
  font-family: 'Comic Sans MS',cursive;
  color: black;
  padding-top: 14%;
  padding-right: 2%;
}


.box {
    margin-top: 2%;
    border: 3px solid white;
    padding: 2%;
    border-radius: 2%;
    width: 100%;
    max-width: 800px;
    height: 500px;
    z-index: 99;
    background-color: #9a84be;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Comic Sans MS',cursive;
    color: white;
        
  }

.settingImage {
  display: flex;
  flex-direction: row;
  padding-left: 5%;
  height: 20%;
}
 #whiteSphere{
  width: 8%;
  height: 8%;

}
#bombSphere{
  width: 8%;
  height: 8%;

}
#arrows{
  width: 12%;
  height: 12%;

}
#movements{
  width: 12%;
  height: 12%;

}
#space{
  width: 11%;
  height: 11%;
  opacity: 0.5;

}
#shift{
  width: 7%;
  height: 7%;
  opacity: 0.5;
}
.butt{
 position: absolute;
 font-size: 40px;
 left: 40px;
 top: 50px;
 background-color: transparent;
 border: none;
 
}

.singleOption{
 
  margin-left: 20px;
}

.option1{
display: flex;
justify-content: space-between;
}



.macroLabels{
  text-align: center;
  color: black;
}



::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: black; 
  border-radius: 10px;       /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: white;    /* color of the scroll thumb */
  border-radius: 10px;       /* roundness of the scroll thumb */
}